@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@font-face {
    font-family: "norseBold";
    src: url("./fonts/Norse-Bold.otf");
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   Meyer's CSS Reset
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*My CSS*/

body{
    height: 100%;
    display: flex;
}
a{
    color: white;
    text-decoration: none;
}
a:hover {
    color: hotpink;
}

.leftside{
    background-size:cover;
    background-image: url(./images/bgimg.jpg);
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
}
.logoSpace{
    margin-top: 30%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}
#logo{
    width: 80px;
}
#odin{
    font-family: "norseBold";
    font-size: 80px;
}
.footer{
    align-self: center;
    padding-bottom: 10px;
}
.content{
    width: 65%;
    display: flex;
    flex-direction: column;
    background-color: rgb(227, 230, 228);
    padding: 8% 0 0 0;
    font-family: 'Open Sans', sans-serif;
}
.top,.mid,.bottom{
    display: flex;
    flex-direction: column;
}

.top{
    padding-left: 5%;
    font-weight: bolder;
    font-size: 1.45rem;
    gap: 10px;
    padding-right: 20%;
    text-align: justify;
    padding-bottom: 20px;
}
.mid{
    background-color: white;
    padding: 5% 30% 5% 5% ;
    gap: 10px;
}
.mid>p{
    font-size: larger;
    font-weight: bold;
}

.rows{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Roboto Mono', monospace;
    font-size: smaller;
}
.cols{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.bottom{
    padding: 5% 30% 5% 5% ;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.bottom>button{
    width: fit-content;
    padding: 10px 20px 10px 20px;
    background-color: #2ba12f;
    color: white;
    border-style: none;
    border-radius: 5px;
}
.bottom>p>a{
    color: black;
}
.bottom>p>a:hover{
    color: hotpink;
}

